body{
    margin: auto;
    background-color: #fff;
	font-family: 'Lato', sans-serif;
    color: #0D0D0D;
}

h1 h2 h4 h5 {
    font-family: 'Lato', sans-serif;
} 

.section_frase h3{
    font-weight: 100; 
    font-size: 3em;
    line-height: 1em;
    letter-spacing: 0.1em;

} 

.logo_head {
	width: 250px;
    margin-left: 5%;
    
}

.navbar{
	font-family: 'Lato', sans-serif;
}

/*section FRASE*/

.section_frase{
    width:100%;
	float:left;
	padding:10%;
	margin:0px;
	text-align:center;
	background-color:#61C680;
   }

.section_frase{
	width:100%;
	float:left;
	padding:150px 0 150px 0;
	margin:0px;
	background: url("../img/bg_arboles_verde.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
	}
	
.section_frase .title {
    font-family: "Raleway",sans-serif;
    font-size: 60px;
    font-weight: 600;
    margin:0px;
	text-align: center;
    padding:0 0 35px 0;
    color: #fff;
    text-transform: uppercase;
}

.section_frase .title span {
    color: #61C680;
}

.section_frase .cont {
	width:60%;
    margin:0 auto;
	text-align: center;
    padding:0px;
    color: #fff;
}

.section_frase .readmore_but4 {
    margin:40px 0 0 500px;
}

/*fin section FRASE*/

/*section Proyectos*/

.section_proyectos{
	width:100%;
	font-family: 'Lato', sans-serif;
	float:left;
	padding:80px 0 80px 0;
	margin:0px;
	background-color: #2E2D2C;
	}

.post-entry img{
	margin-bottom: 20px;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition:all .5s ease-in-out;
	
}

.post-entry img:hover{
	transition-property: transform;
	transition-duration: 0.2s;
	-webkit-transform:cale(1.05);
	transform:scale(1.05);
	filter: opacity(.6);
}

.post-entry {
	background-color:#fff;
	border-radius: 3%;
	padding: 20% 10% 20% 10%;
	text-align: center;

}

.section_proyectos h2 {
	font-size:4em;
	color:#61C680;
	text-align: center;
	text-transform: none;
    line-height: 1em;
	margin: 30px 0 30px 0;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
} 

.post-entry h3 a{
    font-weight: 300; 
	color:#61C680;
	text-align: center;
	text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.1em;
	margin-top: 40px;
} 

.post-entry h3 a:hover{
	color: #2d2d2d;
	text-decoration: none;
} 

.post-entry .title {
    font-family: 'Lato',sans-serif;
    font-size: 60px;
    font-weight: 600;
    margin:0px;
	text-align: center;
    padding:0 0 35px 0;
    color: #fff;
    text-transform: uppercase;
}

.post-entry .title span {
    color: #fdce16;
}

.post-entry .cont {
	width:60%;
    margin:0 auto;
	text-align: center;
    padding:0px;
    color: #fff;
}

.post-entry .readmore_but4 {
    margin:40px 0 0 500px;
}



/*section Voluntarios*/

.volunteer{
	width: 100%;
	margin-bottom: 30px;
	transition(.3s);

}

.img{
	background-position: top center;
	width: 300px;
	display: block;
	height: 300px;
	border-radius: 50%;
	position: relative;
	transition:all .5s ease-in-out;
	
}

.text{
	padding: 10px 20px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
	border-radius: 10px;
	background-color: #61C680;
	
}	

.volunteer .h3{
	color: $white;
	font-size: 18px;
	margin-bottom: 0;
}

.volunteer span{
	color: rgba(255,255,255,.7);
}

.text-1{
	background: $primary;
}

.text-2{
	background: $secondary;
}

.text-3{
		background: $tertiary;
	}

.text-4{
	background: $quarternary;
}

.img:hover{
	transition-property: transform;
	transition-duration: 0.5s;
	-webkit-transform:scale(1.2);
	transform:scale(1.2);}
}



.ftco-animate {
	opacity: 0;
	visibility: hidden;

}


/* Featurettes
------------------------- */  
  /* Thin out the marketing headings */
  .featurette-heading {
	font-weight: 300;
	font-size:5em;
	color: #61C680;
	font-family: 'Anton', sans-serif;
  }

.section_truck_black {
	padding: 3em;
	background-color: #2d2d2d;
}
.section_truck_full {
	margin: 0px;
}

.section_truck_limpio{
	margin: 20px 0px 20px 0px;
	background-color: #fff;
}

.section_truck_limpio img{
	margin:10px 0px 10px 0px;
	border-radius: 0.5rem !important;

}

.section_truck_green{
	padding: 3em;
	background: url("../img/bg_arboles_verde.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
}

.section_truck_white{
	padding: 3em;
	background: url("../img/bg_blanco.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;

}

.section_truck_grey{
	padding: 3em;
	background-color: #f2f2f2;
}

.txt_truck{
	font-size:1.3em;
	font-family: 'Lato', sans-serif;
	font-weight:300 ;
	letter-spacing: 1.2;
  }

.truck_titular {
	font-weight: 100;
	font-size:3em;
	color: #61C680;
	font-family: 'Anton', sans-serif;
  }

 .icon_text{
	font-size:0.8em;
	font-family: 'Lato', sans-serif;
  }

.card {
	box-shadow: 0 3px 3px -3px black;
}



/* FOOTER
------------------------- */  

.b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
	vertical-align: -.125em;
	fill: currentColor;
  }

  .footer{
	padding: 1em;
	background-color: #61C680;
	

  }
  

  .bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }

  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }

.icon_redes {
	fill: #2d2d2d;
	margin: 5px;

  }

.icon_redes svg:hover {
	fill: #61C680;

  }

  .section_footer{
	width:100%;
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	float:left;
	padding:20px 0 20px 0;
	margin:0px;
	background-color: #;fff
	color: #fff;
	}

.section_footer  h5{
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	text-transform: uppercase;
	color: #61C680;

	}

.top_border {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);;
	}

.footer_link a{
	color: #2d2d2d;
}
.footer_link a:hover{
	color: #61C680;
	text-decoration: none;
}

.section_simbiosis_white {
	padding: 3em;
	background: url("../img/bg_blanco.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	color: #2d2d2d;
}

.section_simbiosis_white p{
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	color: #2d2d2d;
}

.section_simbiosis_white h2{
	font-family: 'Anton', sans-serif;
	font-size: 2em;
	color:#61C680 ;
	margin: 0px 0px 40px 0px;
}
.section_simbiosis_clear h2{
	font-family: 'Anton', sans-serif;
	font-size: 2em;
	color:#F04EB1 ;
	margin: 0px 0px 40px 0px;
}

.section_full {
	margin: 30px 0px 30px 0px;
}

.section_simbiosis_clear {
	padding: 3em;
	background-color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);

	font-weight: 300;
	color: #2d2d2d;
}

.section_simbiosis_black h2{
	padding: 1em 0em 1em 0em;
	font-family: 'Anton', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	color: #61C680;
}


.section_simbiosis_black {
	padding: 3em;
	background-color: #2d2d2d;
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	color: #2d2d2d;
}


.menu_nav{
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	color: #2E2D2C;
}

.menu_nav a{
	font-family: 'Lato', sans-serif;
	color: #2E2D2C;
	text-decoration: none;

}

.menu_nav a:hover{
	font-family: 'Lato', sans-serif;
	color: #61C680;
	text-decoration: none;
	
}

.menu_nav a:active{
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-decoration: none;
	background-color: #61C680;
	
}

.infografia_truck{
	background: url("../img/bg_verde.png");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
	font-family: 'Lato', sans-serif;
}

.infografia_truck p{
	font-size:3.3em;
	color:#fff;
	text-align: right;
	text-transform: none;
    line-height: 1.2em;
	margin: 30px 50px 30px 30px;
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
}