body{
    margin: auto;
    background-color: #fff;
	font-family: 'Lato', sans-serif;
    color: #0D0D0D;
}

h1 h2 h4 h5 {
    font-family: 'Lato', sans-serif;

} 

.bg-blanco{
	background-color: #fff;
}

.section_frase h3{
    font-weight: 100; 
    font-size: 3em;
    line-height: 1em;
    letter-spacing: 0.1em;

} 

.logo_head {
	width: 250px;
    margin-left: 5%;
    
}

/*section FRASE*/


.section_frase{
	width:100%;
	float:left;
	padding:150px 0 150px 0;
	margin:0px;
	background: url("../img/bg_arboles_verde.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
	}
	
.section_frase .title {
    font-family: "Raleway",sans-serif;
    font-size: 60px;
    font-weight: 600;
    margin:0px;
	text-align: center;
    padding:0 0 35px 0;
    color: #fff;
    text-transform: uppercase;
}

.section_frase .title span {
    color: #61C680;
}

.section_frase .cont {
	width:60%;
    margin:0 auto;
	text-align: center;
    padding:0px;
    color: #fff;
}

.section_frase .readmore_but4 {
    margin:40px 0 0 500px;
}

/*fin section FRASE*/

/*section Proyectos*/

.section_proyectos{
	width:100%;
	font-family: 'Lato', sans-serif;
	float:left;
	margin:0px;
	padding: 100px 0px 50px 0px;
	background: url("../img/bg_proyectos.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
	}

.post-entry img{
	margin: 0px 0px 40px 0px;
	border-radius: 50%;
	transition:all .5s ease-in-out;
}

.post-entry img:hover{
	transition-property: transform;
	transition-duration: 0.2s;
	-webkit-transform:cale(1.05);
	border: 1px solid #dadada;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transform:scale(1.05);
}


.linea {
	border-top: 0.5px solid #fff;
	height: 1px;
	padding: 0;
	margin: 40px auto 0 auto;
  }

.post-entry{
	background-color:#fff;
	border-radius: 30px;
	padding: 20% 10% 10% 10%;
	text-align: center;

}

.section_proyectos h2{
    font-weight: 400; 
	color:#fff;
	text-align: center;
	text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.1em;
	margin: 20px 0px 40px 0px;
} 



.post-entry h3 a{
    font-weight: 300; 
	color:#61C680;
	text-align: center;
	text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.1em;
} 

.post-entry h3 a:hover{
	color: #2d2d2d;
	text-decoration: none;
} 

.post-entry p {
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin:10px;
	text-align: center;
    padding:7%;
    color: #2d2d2d;
}

.leermas {
	background-color:#fff;
	font-size: 12px;
	padding: 10px 20px 10px 20px;
	border-radius: 25px;
	border: 1px solid #dadada;
	color: #2d2d2d;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}


.leermas:hover {
	background-color:#61C680;
	border: 1px solid #61C680;
	text-decoration: none;
	color: #fff;
}


/*fin section Proyectos*/

/*section clientes*/


.linea_gris {
	border-top: 0.5px solid #262626;
	height: 1px;
	padding: 0;
	margin: 70px auto 0 auto;
  }


.section_clientes h2{
	font-weight: 400; 
	color:#262626;
	text-align: center;
	text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.1em;
	margin: 60px 0px 30px 0px;
}


.footer{
	margin: 30px 0px 0px 0px;

}